# Ignoruojame viską
*

# Dabar išvardijame failus, kuriuos norime sekti
!.gitignore
!README.md
!requirements.txt
!LICENSE

# Tikslingai sekame versijuotą kodą
!v1/
!v1/**/*.py
!v1/**/*.md
!v1/**/*.txt
!v1/app/**/*
!v1/data/**/*.py
!v1/database/**/*.py
!v1/models/**/*.py
!v1/utils/**/*.py
!v1/tests/**/*.py

# Visada ignoruojame šiuos:
__pycache__/
*.py[cod]
*$py.class
.env
*.log
*.sqlite
*.db
.DS_Store
venv/
.venv/
.ipynb_checkpoints/